body {
    background-color: rgba(0, 128, 0, 0.404);
    padding: 20px;
}

h1 , h2 , h3 , header p , footer p{
    text-align: left;
    margin-top: 25px;
}

header p {
    font-weight: bolder;
    font-size: xx-large;
}

aside li , header li{
    margin-top: 5px;
}


h1 {
    font-size: large;
}

h2 {
    font-size: larger;
}

.main-content p {
    text-align: justify;
    padding: 10px;
    font-size: large;
}

footer {
    padding: 0 10px;
}

footer p {
    text-align: justify;
}