.App {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display * {
  margin: 10px;
}

.image-container {
  border: 1px solid black;
  width: 325px;
  height: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 300px;
  width: 300px;
}